<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tennis-Score-Keeper-WatchOS WatchKit App (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Tennis-Score-Keeper-WatchOS WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Tennis-Score-Keeper-WatchOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6B5C322E1F0B645D00B045A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B5C32421F0B645E00B045A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B5C324D1F0B645E00B045A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B5C32561F0B645E00B045A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
